/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0px;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.section-subtitle {
    margin: 0;
    font-size: 16px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header .logo-container {
    width: 161px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo-container img {
    width: 61px;
    height: 19px;
}

header .links-container {
    width: 344px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

header .links-container a {
    background-color: white;
    border: none;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
}

header .links-container a:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}

/* Research */

.research {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.research .headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.research .search-bar {
    width: 377px;
    height: 49px;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 15px;
}

.research .search-bar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.research .search-bar input,
.research .search-bar input:focus {
    height: 100%;
    width: 195px;
    border: 0px solid white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.research .search-bar input::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.research .search-bar img {
    width: 14px;
    height: 18px;
}

.research .search-bar button {
    height: 100%;
    color: white;
    background-color: var(--main-color);
    width: 132px;
    border: 0px;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.research .search-bar .small-button {
    border-radius: 15px;
    display: none;
}

.research .search-bar .small-button img {
    width: 17px;
    height: 17px;
}

.research .filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.research .filters p {
    font-size: 18px;
    font-weight: 600;
}

.research .filters .buttons {
    display: flex;
    gap: 15px;
}

.research .filters .buttons button {
    height: 50px;
    display: flex;
    gap: 10px;
    padding: 4px 19px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid var(--main-bg-color);
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.research .filters .buttons button:hover {
    background-color: var(--filter-bg-color);
}

.research .filters .buttons button img {
    width: 22px;
    height: 22px;
}

.research .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.research .info img {
    width: 4px;
    height: 10px;
    padding: 6px 10px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.hebergements-cards a article {
    padding: 5px;
    height: auto;
}

.hebergements-cards a article img {
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 5px;
}


.hebergements-cards a article .card-content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.hebergements-cards a article .card-content .card-title {
    margin: 0 0 8px 0;
}

.show-more {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activities-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}

.activities-card {
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activities-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities-card-text {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
}

/* Footer */

footer {
    background-color: var(--main-bg-color);
    display: flex;
}

.footer-column {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
}

.footer-text {
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body {
        margin: 0px;
    }

    .main-container {
        padding: 0px 50px;
    }

    .research .filters {
        display: block;
    }

    .research .filters p {
        margin-bottom: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Activités */

    .activities-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    /* Header */

    header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    header .logo-container {
        width: 100%;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .links-container {
        width: 100%;
    }

    header .links-container a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 36px;
        width: 100%;
        border-top: 0px;
        border-bottom: 3px solid var(--main-bg-color);
    }

    header .links-container a:hover {
        border-top: 0px;
        border-bottom: 3px solid var(--main-color);
        color: var(--main-color);
    }

    /* Research */

    .research {
        padding: 0 20px;
    }

    .research .search-bar {
        width: 335px;
        display: flex;
        justify-content: space-between;
    }

    .research .search-bar .small-button {
        display: block;
        width: 49px;
    }

    .research .search-bar .big-button {
        display: none;
    }

    .research .search-bar input,
    .research .search-bar input:focus {
        width: 153px;
    }

    .research .filters .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;
    }

    .research .filters .buttons button {
        justify-content: flex-start;
        font-size: 14px;
        width: 162px;
    }

    /* Hebergemement et populaire */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        background-color: white;
        border-radius: 0;
    }

    /* Hebergement */

    .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    /* Populaires */

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* Activités */

    .activities {
        padding: 0 30px;
    }

    .activities-cards {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        row-gap: 15px;
    }

    .activities-card img {
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    /* Footer */

    footer {
        background-color: var(--main-bg-color);
        display: block;
    }

    .footer-column {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer-title {
        font-size: 16px;
        font-weight: bold;
    }

    .footer-text {
        font-size: 16px;
    }

}